/* Basic Properties To All Elements */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 44px;
  background-color: #161617cc;
  background-color: rgba(22, 22, 23, 0.8);
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* apple image logo */

.app-logo {
  /* color: white; */
  height: 16px;
  width: 16px;
}

/* links in navbar */

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-weight: 400;
}

.search-icon {
  height: 16px;
  width: 16px;
  /* font-weight: lighter; */
}

/* cart 2 */

.cart2 {
  height: 22px;
  width: 22px;
}

/* Hero-Section */

.hero-section {
  height: 200px;
  width: 100%;
  background-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 40px;

  /* margin-top: 35px; */
  /* height: 100vh; */

  /* background-image: url("Images/apple\ iphone\ 17\ picture\ header.jpeg");
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-position: center; */
}

#text1 {
  color: white;
  font-size: 60px;
  font-weight: 500;
}

#text2 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25px;
}

.btn1 {
  background-color: #0071e3;
  color: white;
  padding: 12px 20px;
  border-radius: 40px;
  text-align: center;
  margin-right: 10px;
}

.btn2 {
  background-color: transparent;
  border: 1px solid #0071e3;
  color: #0071e3;
  padding: 12px 20px;
  border-radius: 40px;
  text-align: center;
}

a {
  text-decoration: none;
}

.bg-image {
  background-image: url("Images/apple\ iphone\ 17\ picture\ header.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}