/* Basic Properties To All Elements  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 44px;

  /* background-color: #161617cc;
  background-color: rgba(22, 22, 23, 0.8);
  background-color: black; */
  background-color: #1c1c1c;

  color: rgba(255, 255, 255, 0.8);

  font-size: 12px;
  /* font-weight: 400; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.nav-items {
  cursor: pointer;
}

/* apple image logo */

.app-logo {
  height: 16px;
  width: 16px;
}

/* links in navbar */

.navbar ul {
  display: flex;
  list-style: none;
  gap: 35px;
  font-size: 12px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
}

.search-icon {
  height: 13px;
  width: 13px;
  /* font-weight: lighter; */
}

/* cart 2 */

.cart2 {
  height: 18px;
  width: 18px;
}

/* Hero Section first image */

.hero-section {
  background-image: url("Web\ Img/hero iphone large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 690px;
  width: 100%;

  color: white;
  text-align: center;

  padding-top: 53px;
}

.hero-section h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-section p {
  margin-top: 8px;
  margin-bottom: 18px;
  font-size: 26px;
}

button {
  background-color: #0071e3;
  border: none;
  height: 40px;
  width: 130px;
  border-radius: 30px;
  color: white;

  font-size: 17px;
  font-weight: 400;
}

.btn1 {
  margin-right: 10px;
  cursor: pointer;
}

.btn2 {
  width: 70px;
  background-color: transparent;
  color: #0071e3;
  border: 1px solid #0071e3;
}

.btn2:hover {
  background-color: #0071e3;
  color: white;
  cursor: pointer;
}

/* iPhone Air Image 2 */

.image-2 {
  background-image: url("Web\ Img/iphone air image large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 690px;

  text-align: center;
  padding-top: 53px;

  margin-top: 12px;
  margin-bottom: 12px;
}

.image-2 h1 {
  font-size: 52px;
}

.image h1 {
  font-weight: 200;
}

.image-2 p {
  font-size: 27px;
}

.image-2 .p1 {
  margin-top: 6px;
}

.image-2 .p2 {
  margin-bottom: 18px;
}

.image-2 button {
  background-color: #0071e3;
  border: none;
  height: 40px;
  width: 130px;
  border-radius: 30px;
  color: white;
  font-size: 17px;
  font-weight: 400;
}

.image-2 .btn1 {
  margin-right: 10px;
  cursor: pointer;
}

.image-2 .btn2 {
  width: 70px;
  background-color: transparent;
  color: #0071e3;
  border: 1px solid #0071e3;
}

.image-2 .btn2:hover {
  background-color: #0071e3;
  color: white;
  cursor: pointer;
}

/* MacBook Image 3 */

/* .mac-image {
  background-image: url("Images/macbook\ image\ 3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
  color: white;

  text-align: center;
  padding-top: 53px;
}

.mac-image h1 {
  font-size: 52px;
}

.mac-image p {
  font-size: 27px;
  margin-top: 6px;
  margin-bottom: 20px;
} */

/* iPad Air Image 4  */

.ipad-image {
  background-image: url("Web\ Img/ipad air image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 690px;
  color: black;

  text-align: center;
  padding-top: 53px;
}

.ipad-image h1 {
  font-size: 52px;
}

.ipad-image p {
  font-size: 29px;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* double image */

.container2 {
  background-color: white;
  /* width: 100%; */
  display: flex;
  padding: 12px;
  padding-top: 0;
  gap: 12px;
}

.box {
  height: 570px;
  width: 99%;
  text-align: center;
  padding-top: 50px;
  justify-content: space-between;
}

.box4 {
  background-image: url("Images/macbook\ image\ 3.jpg");
  background-size: cover;
  background-position: center;
}

.box3 {
  color: white;
  background-image: url("Images/apple\ image\ 5.jpg");
  background-size: cover;
  background-position: center;
}

.box3 .p2 {
  color: white;
}
.box h2 {
  font-size: 37px;
  color: white;
}

.box .p2 {
  margin-top: 6px;
  color: white;
}

.box p {
  font-size: 20px;
}

.box .p1 {
  margin-top: 6px;
}

.box .p2 {
  margin-bottom: 18px;
}

.box .btn1 {
  width: 100px;
  height: 35px;
  font-size: 13px;
}

.box .btn2 {
  width: 60px;
  height: 35px;
  font-size: 13px;
}

.container1 {
  background-color: white;
  /* width: 100%; */
  display: flex;
  padding: 12px;
  gap: 12px;
}

.box2 {
  background-image: url("Images/apple\ image\ 6.jpg");
  background-size: cover;
  background-position: center;
}

.box1 {
  background-image: url("Images/apple\ image\ 7.jpg");
  background-size: cover;
  background-position: center;
}

.box1 h2 {
  color: black;
}

.box .p2 {
  color: black;
}
/* container 3 */

.container3 {
  background-color: white;
  /* width: 100%; */
  display: flex;
  padding: 12px;
  padding-top: 0;
  gap: 12px;
}

.box5 {
  background-image: url("Images/apple\ image\ 8.jpg");
  background-size: cover;
  background-position: center;
}

.box6 {
  background-image: url("Images/apple\ image\ 9.jpg");
  background-size: cover;
  background-position: center;
}

.box5 sup {
  font-size: 10px;
  font-weight: 600;
}

.box5 .btn1 {
  width: 140px;
}

.box6 .btn2 {
  width: 100px;
}

.ipad-pro .p2 {
  color: white;
}

.box5 .p2 {
  margin-top: 0;
}

.box6 .p2 {
  margin-top: 0;
}

.container3 .p1 {
  margin-top: 8px;
}

.container3 .p2 {
  margin-bottom: 14px;
}

/* Media Queries */

/* for navbar */

@media (max-width: 1068px) {
  .navbar,
  .navbar ul {
    gap: 20px;
    justify-content: space-evenly;
  }
}

@media (min-width: 834px) {
  .menu {
    display: none;
  }
}

@media (max-width: 833px) {
  .navbar {
    height: 48px;
    justify-content: space-evenly;
  }

  .navbar .right-items {
    align-items: right;
    justify-content: right;
  }

  .navbar ul {
    display: none;
  }

  .app-logo {
    height: 18px;
    width: 18px;
    align-items: left;
  }

  .search-icon {
    height: 16px;
    width: 16px;
    /* font-weight: lighter; */
  }

  /* cart 2 */

  .cart2 {
    height: 22px;
    width: 22px;
  }

  .menu {
    height: 25px;
    width: 22px;
  }
}

/* Hero Section first image */

@media (min-width: 734px) and (max-width: 1068px) {
  .hero-section {
    background-image: url("Web\ Img/hero iphone small.jpg");
    height: 651px;
    padding-top: 65px;
  }

  .hero-section h1 {
    font-size: 43px;
  }

  .hero-section p {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 23px;
  }
}

@media (max-width: 733px) {
  .hero-section {
    background-image: url("Web\ Img/hero iphone mobile.jpg");
    height: 500px;
    padding-top: 38px;
  }

  .hero-section h1 {
    font-size: 30px;
  }

  .hero-section p {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .hero-section button {
    font-size: 14px;
    height: 35px;
    width: 105px;
  }

  .hero-section .btn2 {
    width: 60px;
  }
}

/* Hero Section 2nd image */

@media (min-width: 734px) and (max-width: 1068px) {
  .image-2 {
    background-image: url("Web\ Img/hero image 3 medium.jpg");
    height: 650px;
    padding-top: 60px;
  }

  .image-2 h1 {
    font-size: 44px;
  }

  .image-2 p {
    font-size: 23px;
  }
}

@media (max-width: 733px) {
  .image-2 {
    background-image: url("Web\ Img/hero image 3 small.jpg");
    height: 500px;
    padding-top: 40px;
  }

  .image-2 h1 {
    font-size: 30px;
  }

  .image-2 p {
    font-size: 18px;
  }

  .image-2 .btn1 {
    height: 35px;
    font-size: 14px;
    color: white;
    width: 110px;
  }

  .image-2 .btn2 {
    height: 35px;
    width: 60px;
    font-size: 14px;
  }
}

/* @media (max-width: 1068px) {

  .hero-section {
    background-image: url("Images/Header\ Image\ 1/1.1.jpg");
    padding-top: 53px;
  }

  h1 {
    font-size: 50px;
  }

  .hero-section p {
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 26px;
  }
} */
